@import "tailwindcss";

body{
  background:#030312;
  color:white;
}

.neon{
  box-shadow:0 0 20px rgba(0,255,140,.4);
}

.card{
  background:rgba(15,15,35,.7);
  border:1px solid rgba(0,255,140,.2);
  border-radius:20px;
  backdrop-filter:blur(20px);
}

html {
  scroll-behavior: smooth;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease;
}